.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  @apply pt-14
  /* @apply flex mx-auto mt-8 p-4; */;
}

input {
  border: 1px solid rgba(49, 48, 55, 0.1);
  border-radius: 4px;

  @apply mx-3 px-5 mb-14 w-full h-14;
}
