.userContainer {
  @apply container w-full h-screen mx-auto;
}

.userWrapper {
  background: rgba(49, 48, 55, 0.1);
  @apply py-10 gap-10 mb-0 flex-col  mx-auto text-center;
}
.userHello {
  color: #6c1bdb;
  @apply container font-bold;
}
.buttonPrimary {
  background: #6c1bdb;
  border-radius: 4px;
  padding: 16px 32px;

  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  border: none;
}
.buttonPrimary:hover {
  background: #912ef2;
}
.userInfo {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @apply container w-[624px] h-[472px] mx-auto
    mt-8 mb-12 p-10 flex-col text-5xl bg-white;
}
